.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block.validation,
.block.city-input {
    display: none;
    width: 40%;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #4CAF50;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.block.validation.visible,
.block.city-input.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transform: translateY(0);
}

.creator-info {
    font-size: 14px;
    color: #999;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}